Sem4BackEnd/ApplicationServer/bin/
Sem4BackEnd/ApplicationServer/obj/
Sem4BackEnd/DataAccessLayer/bin/
Sem4BackEnd/DataAccessLayer/obj/
Sem4BackEnd/Host/bin/
Sem4BackEnd/Host/obj/
Sem4BackEnd/ModelLayer/bin/
Sem4BackEnd/ModelLayer/obj/
Sem4BackEnd/ServiceLibrary/bin/
Sem4BackEnd/ServiceLibrary/obj/
*.exe
*.bin
*.sue
*.suo

